<form>
    <fieldset>
        <div class="row-fluid">
            <legend><%= name %></legend>
            <strong>Cash:</strong> <%= cash %>
        </div>
        <div class="row-fluid">
            Betting Box:
            <a href="#" class="betMinus">-1</a>
            <input type="text" value="<%= bet %>" class="betAmount input-small">
            <a href="#" class="betPlus">+1</a>
        </div>
        <div class="row-flui">
            <a href="#" class="btn bet">Bet</a>
        </div>
        <div class="row-fluid">
            <a href="#" class="btn hit">Hit</a>
            <a href="#" class="btn stand">Stand</a>
        </div>
        
        <!-- <div class="row-fluid">
            <h4>Hand Value: <%= handValue.type %> <%= handValue.value %></h4>

            <div class="hand"></div>
        </div> -->
    </fieldset>
</form>