<form>
    <fieldset>
        <div class="row-fluid">
            <legend><%= name %> - $<%= cash %></legend>
        </div>
        <div class="row-fluid">
            
            <div class="betRow">
                <span>Bet:</span>
                
                
                <a href="#" class="btn bet decBetLarge">-10</a>
                <a href="#" class="btn bet decBet">-1</a>
                <div class="betBox">$<%= bet %></div>
                <a href="#" class="btn bet incBet">+1</a>
                <a href="#" class="btn bet incBetLarge">+10</a>
                
                <a href="#" class="btn btn-primary bet place-bet">Place Bet</a>
            </div>

            <input type="hidden" value="<%= bet %>" class="betAmount">
        </div>

        <div class="row-fluid">
            <a href="#" class="btn btn-danger hit">Hit</a>
            <a href="#" class="btn btn-success stand">Stand</a>
        </div>
        
    </fieldset>
</form>