<html>
<head>
    <title>BlackJack</title>
    <script src='http://code.jquery.com/jquery-1.9.1.min.js'></script>
    <script src='http://static.stackmob.com/js/json2-min.js'></script>
    <script src='http://static.stackmob.com/js/underscore-1.4.4-min.js'></script>
    <script src='http://static.stackmob.com/js/backbone-1.0.0-min.js'></script>

    <script>
    //<![CDATA[

    // (function($){

        var Rank = Backbone.Model.extend();

        var Ranks = Backbone.Collection.extend({
            model: Rank
        });

        var Suit = Backbone.Model.extend();

        var Suits = Backbone.Collection.extend({
            model: Suit
        });

        var ranks = new Ranks([
            new Rank({ name:'Ace',      value: [1,11] }),
            new Rank({ name:'Two',      value: 2 }),
            new Rank({ name:'Three',    value: 3 }),
            new Rank({ name:'Four',     value: 4 }),
            new Rank({ name:'Five',     value: 5 }),
            new Rank({ name:'Six',      value: 6 }),
            new Rank({ name:'Seven',    value: 7 }),
            new Rank({ name:'Eight',    value: 8 }),
            new Rank({ name:'Nine',     value: 9 }),
            new Rank({ name:'Ten',      value: 10 }),
            new Rank({ name:'Jack',     value: 10 }),
            new Rank({ name:'Queen',    value: 10 }),
            new Rank({ name:'King',     value: 10 }),
            ]);

        var suits = new Suits([
            new Suit({ name: 'Diamonds' }),
            new Suit({ name: 'Clubs' }),
            new Suit({ name: 'Hearts' }),
            new Suit({ name: 'Spades' })
            ])

        // var ranks = new Array('A', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K');

        var Card = Backbone.Model.extend();

        var Hand = Backbone.Collection.extend({
            model: Card
        })

        var Deck = Backbone.Collection.extend({
            model: Card,

            initialize: function() {
                // Create a new deck with 52 cards
                suits.each(function(suit) {
                    ranks.each(function(rank) {
                        this.push(new Card({
                            suit: suit,
                            rank: rank
                        }));
                    }, this);
                }, this);
            }
        });

        var Shoe = Backbone.Collection.extend({
            model: Card,

            initialize: function(models, options) {
                // Default options
                options = _.extend({
                    decks: 8
                }, options);

                // Add a deck
                _.times(options.decks, function() {

                    // Create a deck
                    var deck = new Deck();

                    // Shuffle deck and add to the shoe
                    _.each( _.shuffle(deck.models), function(card) {
                        this.push(card);
                    }, this);
                }, this);
            }

        });

        var Player = Backbone.Model.extend({
            defaults: {
                name: 'Anonymous',
                hand: new Hand(),
                cash: 500
            },

            initialize: function(options) {
                // TODO require a shoe
                this.shoe = options.shoe;

                console.log('New player! Name: ' + options.name);
            },

            drawCard: function() {
                var card = this.shoe.pop();
                console.log(this.get('name') + ' drew a ' + card.get('rank').get('name') + ' of ' + card.get('suit').get('name'));
                this.get('hand').push(card);

                return this;
            },

            adjustCash: function(amount) {
                this.set('cash', this.get('cash') + amount);
                console.log(this.get('cash'));
                return this;
            },

            hit: function() {
                return this;
            },

            stay: function() {
                return this;
            },

            getHandValue: function() {
                var val = _.reduce(this.get('hand').models, function(value, card) {
                    return value + card.get('rank').get('value');
                }, 0);
                return val;
            },

            placeBet: function() {
                return this;
            }
        });

        var Dealer = Backbone.Model.extend({

        })

        var Game = Backbone.Model.extend({
            initialize: function() {

            }
        });

        // Define the Home View
        var GameView = Backbone.View.extend({

            el: 'body',

            initialize: function() {
                this.render();
            },

            render: function() {
                this.$el.empty();
                this.$el.append('<h1>BlackJack</h1>');

                return this;
            }
        });

        var PlayerView = Backbone.View.extend({
            initialize: function() {
                // Register events
                this.model.on('all', this.render, this);

                this.template = _.template( $("#playerTemplate").html() );
                this.render();
            },

            render: function() {
                this.$el.html( this.template(this.model.toJSON()) );

                return this;
            }
        });

        $(document).ready(function() {
            shoe = new Shoe(null, {
                decks: 8
            });

            justin = new Player({
                name: 'Justin',
                shoe: shoe
            });

            justin.drawCard();

            var justinView = new PlayerView({ model: justin });

            var view = new GameView();

            $('body').append( justinView.$el );
        });

    // }(jQuery));

    //]]>
    </script>


    <script type="text/template" id="playerTemplate">
        <strong>Name:</strong> <%= name %>
        <strong>Cash:</strong> <%= cash %>
        <div class="hand"></div>
    </script>

</head>
<body>
    
</body>
</html>